@charset "utf-8";
/* CSS Document */
img{display:block;}
a{ text-decoration:none;}
li{ list-style:none;}
*{ margin:0; padding:0;}
.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{content:''; display:block; clear:both;}
.clearfix{zoom:1;}
.wraper{ width:1332px; margin:0 auto;}
a:hover{color: maroon;}
