.wrape{
	width: 1200px;
	margin: 300px auto;
}
ul li{
	height: 500px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 150px;
}
.word{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	padding-top: 30px;
	
}
.word .time{
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 50px;
}
.biaoti{
	font-size: 60px;
	color: #fff;
	line-height: 100px;
}
.cont{
	color: #ccc;
	font-size: 16px;
	line-height: 30px;
}
.title{
	display: block;
	-webkit-transition: 1s all ease;
	-ms-transition: 1s all ease;
	-o-transition: 1s all ease;
	-moz-transition: 1s all ease;
	transition: 1s all ease;
}
a:hover .title{
	-webkit-transform: translateX(50px);
	-ms-transform: translateX(50px);
	-o-transform: translateX(50px);
	-moz-transform: translateX(50px);
	transform: translateX(50px);
}

a:hover img{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
img{
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;	
}
.img{
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
}
